body {
    height: fit-content;
    display: flex;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.menu {
    width: 300px;
    min-height: 100vh;
    background-color: white;
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    padding: 20px;
    align-items: center;
}

.content {
    flex: 1;
    background-color: #285050;
    padding: 0px;
}

.profile-picture {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    overflow: hidden;
    margin-bottom: 20px;
    border: 3px solid black;
}

.profile-picture img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.image-container {
    text-align: center;
    padding-top: 120px;
}

.c {
    max-width: 100%;
    width: 350px;
    height: 350px;
    padding: 10px 0;
    filter: brightness(60%);
}

p {
    font-family: calibri;
    font-weight: 900;
    font-size: 25px;
    padding-top: 5px;
    color: #004AAD;
}


.name {
    font-weight: bold;
    font-size: 20px;
}

.clinic-name {
    text-align: center;
    color: #F1F1F1;
    font-size: 45px;
    font-family: calibri;
    margin-top: 10px;
}

.btn {
    background-color: white;
    color: #004AAD;
    border: none;
    padding: 10px 20px;
    margin-bottom: 10px;
    border-radius: 5px;
    cursor: pointer;
    display: flex;
    align-items: center;
    font-size: 18px;
    width: 200px;
}

.btn img {
    margin-right: 10px;
    width: 50px;
    height: 50px;
}

.btn:hover {
    background-color: #b4c3e4;
    color: #3d5c7e;
}

.navbar {
    background-color: white;
    margin-bottom: 0;
}

.navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.navbar ul li {
    margin-bottom: 5px;
}

.navbar a {
    text-decoration: none;
}

h2 { 
    font-family: calibri;
    font-weight: 900;
    font-size: 25px;
    padding-top: 10px;
    padding-right: 130px;
    color: #004AAD;
}

.e {
    height: 50px;
    width: 50px;
}

.p i {
    position: relative;
    top: 10%;
    left: 40%;
    transform: translate(-50%, -50%);
    font-size: 1.5em;
    color: #333;
    padding-right: 210px;
    font-size: 20px;
    padding-bottom: 40px;
    padding-top: 40px;
}

.e i {
    position: relative;
    bottom: 150%;
    transform: translate(-50%, -50%);
    font-size: 1.5em;
    color: #333;
    padding-right: 210px;
    font-size: 20px;
    padding-bottom: 40px;
    padding-top: 40px;
}

p3 {
    position: relative;
    bottom: 18.1%;
    padding-bottom: 60px;
    padding-left: 40px;
    font-family: calibri;
    font-size: 20px;
    font-weight: normal;
    color: #004AAD;
}

p4 {
    position: relative;
    bottom: 13.5%;
    padding-right: 80px;
    font-family: calibri;
    font-size: 20px;
    font-weight: normal;
    color: #004AAD;
}

.element {
    height: fit-content;
    overflow: auto;
}
